

<h2>Alpaca Arsenal</h2>
   

<div  class="topnav">
        <a [routerLink]= '["/home"]' routerLinkActive = "active" > Home </a>
        <a [routerLink]= '["/signin"]' routerLinkActive = "active" > Log In </a>
        <a [routerLink]= '["/products"]' routerLinkActive = "active" > Products </a>
        <a [routerLink]= '["/cart"]' routerLinkActive = "active" > Shopping Cart </a>
        <a [routerLink]= '["/compare"]' routerLinkActive = "active" > Compare </a>
      
</div>
    <router-outlet></router-outlet>
